*{
    margin:0;
    padding:0;
}

ul,li{
    list-style:none;
}
.clear{
    clear:both;
}
a:link,a:visited{
    color:#444;
    text-decoration:none;
}
a:hover{
    color:#ccc;
}
.l{
    float:left;
}
.r{
    float:right;
}
.main{
    width:980px;
    margin:0 auto;
    padding:20px;
}
.name{
    padding-left:5px;
}
.a{
    font-size:18px;
    font-family:黑体;
    padding:4px;
}
.b{
    font-size:9px;
}
.nav{
    margin:15px 0;
    width:980px;
}
.nav-1{
  width: 100%;
  height: 3px;
  background: #eec3c7;
  border-top: 1px solid #ac1a35;
}
.nav-2{
  background:url("images/nav-2.png");
  text-align:center;
}

.nav li{
    float:left;
    font-size: 14px;
    font-weight: 700;
    color:#FFFFFF;
    line-height:35px;
    padding:0 13px;
}
.nav-f{
     border: 1px solid #ac1a35;
     background: #d8626f;
     border-top: none;
     margin-left:70px;
}
.bg img{
    position:relative;
    margin:10px;
    border:5px solid white;
}
.num li{
    font-size:14px;
    width:15px;
    height:15px;
    float:left;
    background:url("images/num-bg.png");
    line-height:15px;
    margin-right:10px;
    text-align:center;
}
.num{
    position:absolute;
    left:800px;
    top:360px;
}
.r-top{
    background-color:black;
    height:25px;
    margin:5px;
}
.content{
    background-color:black;
    width:980px;
    height:960px;
    margin-top:-15px;
}
.c-left{
    background-color:white;
    margin:8px;
}
.c-left img{
    margin:5px;
    position:relative;
}
.c-num{
    width:718px;
    height:30px;
    background:rgba(175, 175, 175, 0.4);
    top:231px;
    left:12px;
    position:relative;
}
.c-num ul{
    position:absolute;
    right: 5px;
    top: 7.5px;
}
.c-num li{
    float:left;
    margin:2px;
    width:17px;
    height:17px;
    border-radius:2px;
    margin-right:12px;
    font-size:12px;
    text-align:center;
    background:url(images/num-bg.png);  
}
.c-right{
    background-color:white;
    width:220px;
    height:262px;
    margin:8px;
    margin-top:-21px;
}
.r-top{
    background:url("images/top-bg.png");
    width:210px;
    height:27px;
    color:white;
    font-size:12px;
    line-height:27px;
    position:relative;
}
.r-top img{
    margin:0 5px;
}
.r-top .top-r{
    margin-right:10px;
}
.r-bottom .tab{
    font-size:12px;
}
.r-bottom ul li{
    border-bottom:1px dashed #ccc;
    margin-bottom:9px;  
    padding-bottom:3px;
}
.r-bottom .tab .tab-l{
    margin-left:5px;
}
.tab li span,
.tab .t-l span{
    display:block;
    float:left;
    margin:7px 0 0 5px;
}
.tab li .r{
     width:38px;
}
.r-bottom ul li .r{
    width:8px;
    height:10px;
    margin:8px;
}
.r-bottom .tab .t-l{
    border-bottom:none;
    
}
.infor{
    width:960px;
    height:36px;
    margin:0 10px;
    background:url("images/infor-bg.png");
}
.infor img{
    margin:8px;
}
.infor h6,
.infor p{
    font-size:12px;
    line-height:36px;
    color:#444;
}
.infor .p-l{
    margin-left:50px;
}
.infor .p-r{
    margin-right:8px;
}
.list-box{
    width:960px;
    height:270px;
    margin:5px auto;
}
.introduce{
    margin:5px 0;
    width:275px;
    height:260px;
    background-color:white;
    position:absolute;
}
.int-top-f{
    background:url("images/top-bg.png");
    width:265px;
    height:27px;
    position:relative;
    top:5px;
    left:5px;
}
.int-top-f .int-t-f{
    margin-left:5px;
}
.int-top-f .top-l{
    margin-left:5px;
    color:white;
    font-size:12px;
    line-height:27px;
}
.int-top-f .top-r{
    color:white;
    font-size:12px;
    line-height:27px;
    margin-right:5px;
}
.introduce .int-m-1{
    position:relative;
    top:10px;
    left:5px;
}
.introduce p{
    width:262px;
    font-size:12px;
    margin:15px 8px;
    height:64px;
    display:-webkit-box;
    -webkit-box-orient:vertical;
    -webkit-line-clamp:4;
    overflow:hidden;   
}
.list-2{
    width:220px;
    height:260px;
    background-color:white;
    margin-left:285px;
    margin-top:5px;
    position:absolute;
}
.list-f{
    margin:0 5px;
}
.list-2 .f-l{
    font-size:12px;
}
.list-m-1{
    position:relative;
    top:12px;
    left:5px;
}
.list-2 p,
.list-3 p,
.list-4 p{
    font-size:12px;
    margin:15px 8px;
}
.list-b{
    font-size:12px;
    margin-top:-10px;
    margin-right:10px;
}
.list-3{
    width:220px;
    height:260px;
    background-color:white;
    margin-left:515px;
    margin-top:5px;
    position:absolute;
}
.list-3 .f-l-3{
    font-size:12px;
    margin-top:10px;
}

.list-4{
    width:215px;
    height:260px;
    background-color:white;
    margin-left:745px;
    margin-top:5px;
    position:absolute;
}
.list-4 .f-l-4{
    font-size:12px;
    margin-top:10px;
}
.new{
    width:735px;
    height:240px;
    background-color:white;
    margin:0 10px;
    position:absolute;
}
.new .new-t{
    background:url("images/new-bg.png");
    width:722px;
    height:27px;
    position:relative;
    top:5px;
    left:5px;
}
.new-t .t-f{
    line-height:27px;
    margin-top:9px;

}
.new-t .l{
    font-size:12px;
    color:white;
    line-height:27px;
    margin-left:8px;
}
.new-t .r{
    font-size:10px;
    color:white;
    line-height:27px;
    margin-right:10px;
}
.new-b .new-m{
    width:720px;
    margin:15px 5px;
    position:absolute;
}
.new-b .new-m .m-a{
    border-bottom:1px dashed #ccc;
    margin-bottom:12px;
}
.new-b .new-m .hot-1{
   position:relative;
   top:-10px;
   left:-5px;
}
.new-b .new-m .hot-2{
   position:relative;
   top:-12px;
   left:-6px;
}
.new-m span{
    font-size:12px;
}
.new-m img{
    margin:5px 8px;
}
.new-m .m-b{
    border-bottom:none;
}
.contact{
    width:202px;
    height:240px;
    background-color:white;
    padding-left:13px;
}
.contact .con-t{
    background:url("images/con-bg.png");
    width:200px;
    height:27px;
}
.list-bottom{
    width:970px;
}
.contact .con-t{
    margin-left:-5px;
    margin-top:5px;
}
.con-t .t-f{
    margin:10px;
}
.con-t .l{
    font-size:12px;
    color:white;
    line-height:27px;
}
.con-t .r{
    font-size:10px;
    color:white;
    line-height:27px;
    margin-right:5px;
}
.contact .con-b{
    width:195px; 
    margin-top:40px;
    font-size:14px;
}
.contact .con-b li{
    height:50px;
    border:1px solid #444;
    margin-bottom:15px;
    border-radius:2px;
}
.contact .con-b li span{
    margin-left:10px;
}
.footer{
   width:980px;
   height:90px;
}
.footer .f-c{
    color:white;
    font-size:12px;
    text-align:center;
    margin-top:40px;
}